<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
           version="3.1">

    <servlet>
        <servlet-name>WybierzPiwo</servlet-name>
        <servlet-class>com.example.web.WyborPiwa.Servlet_wybierzpiwo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WybierzPiwo</servlet-name>
        <url-pattern>/WybierzPiwo.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Zadanie1</servlet-name>
        <servlet-class>com.example.Zadanie1.Servlet_Zadanie1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Zadanie1</servlet-name>
        <url-pattern>/Zadanie1.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Zadanie5</servlet-name>
        <servlet-class>com.example.Zadanie5.Servlet_Zadanie5</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Zadanie5</servlet-name>
        <url-pattern>/Zadanie5.do</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>WybierzPiwoFilter</filter-name>
        <filter-class>com.example.web.WyborPiwa.WybierzPiwoFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>WybierzPiwoFilter</filter-name>
        <url-pattern>/WybierzPiwo.do</url-pattern>
    </filter-mapping>

</web-app>
